@font-face {
  font-family: 'Custom-Ekaterina-Font';
  src: url('../assets/font/ofont.ru_Ekaterina\ Velikaya\ Two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Custom-Aurora-Font';
  src: url('../assets/font/ofont.ru_Aurora\ Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
